body{
    background-color: darkslateblue;
    font-family: Merriweather, 'Times New Roman';
    margin:0;
    padding:0;
}

h1{
    background-color: slateblue;
    color: rgb(244, 242, 253);
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

a{
    color: rgb(241, 239, 255);
    background-image: url(../images/Rank/TexturedButton.jpg);
    background-size: cover;
    background-color: slateblue;
    box-shadow: 0 3px darkslateblue;
    transform: translateY(2px);
    font-family: Merriweather, 'Times New Roman';
    position: absolute;
    top: 13px;
    left: 5px;
    padding: 5px;
    border: 1.5px solid darkslateblue;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.3s;
}

a:hover{
    color: rgb(254, 254, 255);
    background-image: url(../images/Rank/TexturedButtonHover.jpg);
    background-size: cover;
    background-color: darkslateblue;
    border: 1.5px solid lightsteelblue;
    box-shadow: 0 3px lightsteelblue;
    transform: translateY(2px);
    border-radius: 4px;
}

a:active{
    color: rgb(254, 254, 255);
    background-image: url(../images/Rank/TexturedButtonHover.jpg);
    background-size: cover;
    background-color: darkslateblue;
    box-shadow: 0 0 0;
    position: absolute;
    top: 16px;
    border: 1.5px solid lightsteelblue;
    border-radius: 4px;
    transition-duration: 0s;
}

.summon{
    position:relative;
    top: 0;
    left: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    color: rgb(74, 59, 171);
    background-image: none;
    background-color: rgb(244, 242, 253);
    box-shadow: none;
    text-decoration: underline;
    transition-duration: 0s;
}
.summon:hover{
    color: rgb(102, 205, 223);
    background-image: none;
    background-color: rgb(244, 242, 253);
    box-shadow: none;
    border: none;
}

.summon:active{
    color: rgb(102, 205, 223);
    background-image: none;
    background-color: rgb(244, 242, 253);
    box-shadow: none;
    border: none;
    position: relative;
    top: 0;
}

table{
    background-color: rgb(166, 160, 194);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 88%;
}

.supreme{
   background-color: rgb(196, 187, 232);
}

.supremeheader{
   background-color: rgb(113, 87, 169);
   color: rgb(247, 250, 235);
}

.supremetable{
   background-color: rgb(131, 125, 157);
}

.supremejap{
    color: rgb(113, 87, 169);
    font-size: 12px;
}

.subfamily{
    font-size: 12px;
    height: 20px;
    width: 20px;
}

thead{
    background-color: rgb(196, 187, 232);
    height: 4em; 
}

tbody{
    background-color: rgb(244, 242, 253);
}

td{
    height: 1.5em;
}

.flat td{
    height: 1em;
}

.bigheader{
    text-align: center;
    background-color: rgb(151, 122, 214);
}

.flat{
    background-color: rgb(244, 242, 253);
    width: 20%;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
}

.centred{
    text-align: center;
    display: block;
}

.border{
    background-color: rgb(244, 242, 253);
    padding: 16px;
    width:80px;
    height: 102px;
    border-radius: 5px;
    position: relative;
    right: 250px;
    top:50px;
}

.large{
    font-size: 40px;
}

.herores{
    font-size: 13px;
}

.metal{
    font-size: 16px;
}

.heavymetal{
    font-size: 12px;
}

.metallarge{
    font-size: 22px;
}

img.metal{
    width: 28px !important;
}

img.heavymetal{
    width: 24px !important;
}

.charbuilder{
    width: 32px;
}

h2{
    background-color: rgb(244, 242, 253);
    text-align: center;
    width: 227px;
    height: 118px;
    font-size: 24px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 182px);
    position: relative;
    bottom: 469px;
}

#level{
    position: relative;
    left: 187px;
    bottom: 103px;
    height: 346px;
    width: 227px;
}

#weakres{
    position: relative;
    right: 120px;
    bottom: 477px;
    height: 200px;
    width: 370px;
}

img[src*="Element"]{
    width: 44px;
}

img[src*="Status"]{
    width: 44px;
}

/* select[class="formexawk"]{
    width: 180px;
} */

.unofficial{
    color: rgb(244, 242, 253);
    text-align: center;
    display: block;
    position: relative;
    top: 90px;
    margin-bottom: -20px;
}

.jap{
    color: rgb(128, 166, 224);
    font-size: 12px;
}

#details{
    text-align: center;
    background-color: rgb(244, 242, 253);
    width: 603px;
    height: 29px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 306px);
    position: relative;
    bottom: 480px;
}

#statfilter{
    text-align: center;
    background-color: rgb(244, 242, 253);
    width: 588px;
    height: 29px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 306px);
    margin-bottom: -560px;
    position: relative;
    bottom: 465px;
}

#statfilterexawk{
    text-align: center;
    background-color: rgb(244, 242, 253);
    width: 608px;
    height: 29px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 316px);
    margin-bottom: -560px;
    position: relative;
    bottom: 465px;
}

#statfilterblossom{
    text-align: center;
    background-color: rgb(244, 242, 253);
    width: 588px;
    height: 59px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 306px);
    margin-bottom: -560px;
    position: relative;
    bottom: 465px;
}

#statfiltermindini{
    text-align: center;
    background-color: rgb(244, 242, 253);
    width: 588px;
    height: 69px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 306px);
    margin-bottom: -560px;
    position: relative;
    bottom: 465px;
}

#statfilterwulfspade{
    text-align: center;
    font-size: 15px;
    background-color: rgb(244, 242, 253);
    width: 588px;
    height: 89px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 306px);
    margin-bottom: -560px;
    position: relative;
    bottom: 465px;
}

.skills{
    margin-top: 120px;
    position: relative;
}

.fintable{
    margin-bottom: 15px;
}

.equaltable{
    table-layout: fixed;
    width: 85%;
}
.equaltable th td{
    width: 33.33%;
}


strong{
    font-style: oblique;
}

.grey{
    background-color: rgb(231, 227, 248);
}

.attackdesc{
    color: rgb(151, 122, 214);
}

img[src*="AttackType"]{
    width: 100px;
}

img[src*="AttackRange"]{
    width: 70px;
}

img[src*="TalentBlossom"]{
    width: 32px;
}

.toobig{
    font-size: 16px;
}


@media screen and (max-width: 810px) {
    a[href*="index"]{
        display: none;
    }

    .flat{
        font-size: 15px;
    }  

    .border{
        background-color: rgb(244, 242, 253);
        padding: 12px;
        width:60px;
        height: 76px;
        border-radius: 4px;
        position: relative;
        right: 194.5px;
        top:26px;
    }

    h2{
        background-color: rgb(244, 242, 253);
        text-align: center;
        width: 170px;
        height: 89px;
        font-size: 18px;
        padding: 6px;
        border-radius: 4px;
        margin-left: calc(50% - 137px);
        position: relative;
        bottom: 369px;
    }
    
    #level{
        position: relative;
        left: 138px;
        bottom: 96px;
        height: 260px;
        width: 170px;
    }

    #weakres{
        position: relative;
        right: 96px;
        bottom: 377px;
        height: 150px;
        width: 278px;
    }

    .large{
        font-size: 30px;
    }  
    
    img[src*="Element"]{
        width: 33px;
    }
    
    img[src*="Status"]{
        width: 33px;
    }

    img[src*="Rank"]{
        width: 24px;
    }

    img[src*="AttackType"]{
        width: 64px;
    }

    img[src*="AttackRange"]{
        width: 48px;
    }

    img.metal{
        width: 21px !important;
    }
    
    img.heavymetal{
        width: 18px !important;
    }

    .subfamily{
        font-size: 10px;
        height: 16px;
        width: 16px;
    }

    #details{
        text-align: center;
        background-color: rgb(244, 242, 253);
        width: 460px;
        height: 22px;
        padding: 6px;
        border-radius: 4px;
        margin-left: calc(50% - 306px);
        position: relative;
        left: 69px;
        bottom: 380px;
    }

    .herores{
        font-size: 9.5px;
    }

    select[class="formawk"]{
        width: 90px;
        height: 18px;
        font-size: 11px;
    }

    select[class="formelement"]{
        width: 110px;
        height: 18px;
        font-size: 11px;
    }

    select[class="formexawk"]{
        width: 165px;
        height: 18px;
        font-size: 11px;
    }

    input[type="radio"]{
        width: 10px;
        height: 10px;
    }
    
    #statfilter{
        text-align: center;
        background-color: rgb(244, 242, 253);
        width: 444px;
        height: 24px;
        padding: 8px;
        font-size: 12px;
        border-radius: 5px;
        margin-left: calc(50% - 306px);
        margin-bottom: -460px;
        position: relative;
        left: 69px;
        bottom: 365px;
    }

    #statfilterexawk{
        text-align: center;
        background-color: rgb(244, 242, 253);
        width: 444px;
        height: 42px;
        padding: 8px;
        font-size: 12px;
        border-radius: 5px;
        margin-left: calc(50% - 306px);
        margin-bottom: -460px;
        position: relative;
        left: 69px;
        bottom: 365px;
    }
    
    #statfilterblossom{
        text-align: center;
        background-color: rgb(244, 242, 253);
        width: 449px;
        height: 52px;
        padding: 6px;
        font-size: 12px;
        border-radius: 4px;
        margin-left: calc(50% - 306px);
        margin-bottom: -460px;
        position: relative;
        left: 69px;
        bottom: 365px;
    }

    #statfiltermindini{
        text-align: center;
        background-color: rgb(244, 242, 253);
        width: 444px;
        height: 69px;
        padding: 8px;
        font-size: 12px;
        border-radius: 5px;
        margin-left: calc(50% - 306px);
        margin-bottom: -460px;
        position: relative;
        left: 69px;
        bottom: 365px;
    }
    
    #statfilterwulfspade{
        text-align: center;
        font-size: 15px;
        background-color: rgb(244, 242, 253);
        width: 444px;
        height: 69px;
        padding: 8px;
        font-size: 11px;
        border-radius: 5px;
        margin-left: calc(50% - 306px);
        margin-bottom: -460px;
        position: relative;
        left: 69px;
        bottom: 365px;
    }

    table{
        background-color: rgb(166, 160, 194);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        width: 93%;
        font-size: 14px;
    }

    .equaltable{
        table-layout: fixed;
        width: 93%;
    }

    .unofficial{
        color: rgb(244, 242, 253);
        text-align: center;
        display: block;
        position: relative;
        top: 90px;
        font-size: 13px;
        margin-bottom: -20px;
    }
    
    .jap{
        color: rgb(128, 166, 224);
        font-size: 10px;
    }

    table.skills{
        table-layout: fixed;
        max-width: 93%;
        overflow-x: scroll;
        display: block;
    }

    .toobig{
        font-size: 12px;
    }
}

@media screen and (max-width: 545px) {
    a[href*="index"]{
        display: none;
    }

    .flat{
        font-size: 13px;
    }  

    .border{
        background-color: rgb(244, 242, 253);
        padding: 8px;
        width:49px;
        height: 63px;
        border-radius: 4px;
        position: relative;
        right: 137px;
        top:4.5px;
    }

    h2{
        background-color: rgb(244, 242, 253);
        text-align: center;
        width: 128px;
        height: 67px;
        font-size: 15px;
        padding: 6px;
        border-radius: 4px;
        margin-left: calc(50% - 99px);
        position: relative;
        bottom: 305px;
    }
    
    #level{
        position: relative;
        left: 109px;
        bottom: 94px;
        height: 195px;
        width: 128px;
    }

    #weakres{
        position: relative;
        right: 64px;
        bottom: 316px;
        height: 115.5px;
        width: 211px;
    }

    .large{
        font-size: 20px;
    }  
    
    .flat img[src*="Element"]{
        width: 19px;
    }
    
    img[src*="Status"]{
        width: 19px;
    }

    img[src*="Rank"]{
        width: 24px;
    }

    img[src*="AttackType"]{
        width: 64px;
    }

    img[src*="AttackRange"]{
        width: 48px;
    }

    img.metal{
        width: 16px !important;
    }
    
    .metal{
        font-size: 12px;
    } 

    .metallarge{
        font-size: 16px;
    } 

    img.heavymetal{
        width: 13px !important;
    }

    .subfamily{
        font-size: 8px;
        height: 13px;
        width: 13px;
    }

    #minimetal{
        font-size: 10px;
    }

    .heavymetal{
        font-size: 8px;
    } 

    #details{
        text-align: center;
        background-color: rgb(244, 242, 253);
        width: 343px;
        height: 22px;
        padding: 6px;
        border-radius: 4px;
        margin-left: calc(50% - 306px);
        position: relative;
        left: 136px;
        bottom: 327px;
    }

    .herores{
        font-size: 7px;
    }

    select[class="formawk"]{
        width: 90px;
        height: 18px;
        font-size: 11px;
    }

    select[class="formelement"]{
        width: 110px;
        height: 18px;
        font-size: 11px;
    }

        select[class="formexawk"]{
        width: 165px;
        height: 18px;
        font-size: 11px;
    }

    input[type="radio"]{
        width: 10px;
        height: 10px;
    }
    
    #statfilter{
        text-align: center;
        background-color: rgb(244, 242, 253);
        width: 332px;
        height: 19px;
        padding: 8px;
        font-size: 12px;
        border-radius: 5px;
        margin-left: calc(50% - 306px);
        margin-bottom: -415px;
        position: relative;
        left: 134px;
        bottom: 323px;
    }
  
    #statfilterexawk{
        text-align: center;
        background-color: rgb(244, 242, 253);
        width: 332px;
        height: 38px;
        padding: 8px;
        font-size: 12px;
        border-radius: 5px;
        margin-left: calc(50% - 306px);
        margin-bottom: -415px;
        position: relative;
        left: 134px;
        bottom: 323px;
    }
    
    #statfilterblossom{
        text-align: center;
        background-color: rgb(244, 242, 253);
        width: 331.8px;
        height: 53px;
        padding: 6px;
        font-size: 12px;
        border-radius: 4px;
        margin-left: calc(50% - 306px);
        margin-bottom: -415px;
        position: relative;
        left: 136px;
        bottom: 323px;
    }

    #statfiltermindini{
        text-align: center;
        background-color: rgb(244, 242, 253);
        width: 331.8px;
        height: 69px;
        padding: 6px;
        font-size: 9px;
        border-radius: 4px;
        margin-left: calc(50% - 239px);
        margin-bottom: -423px;
        position: relative;
        left: 69px;
        bottom: 323px;
    }
    
    #statfilterwulfspade{
        text-align: center;
        font-size: 15px;
        background-color: rgb(244, 242, 253);
        width: 331.8px;
        height: 69px;
        padding: 6px;
        font-size: 8px;
        border-radius: 4px;
        margin-left: calc(50% - 239px);
        margin-bottom: -423px;
        position: relative;
        left: 69px;
        bottom: 323px;
    }

    table{
        background-color: rgb(166, 160, 194);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        width: 97%;
        font-size: 14px;
    }

    .equaltable{
        table-layout: fixed;
        width: 97%;
    }

    .unofficial{
        color: rgb(244, 242, 253);
        text-align: center;
        display: block;
        position: relative;
        top: 90px;
        font-size: 13px;
        margin-bottom: -20px;
    }
    
    .jap{
        color: rgb(128, 166, 224);
        font-size: 10px;
    }

    table.skills{
        table-layout: fixed;
        max-width: 97%;
        overflow-x: scroll;
        display: block;
    }

    table.scroll{
        table-layout: fixed;
        max-width: 97%;
        overflow-x: scroll;
        display: block;
    }

    .toobig{
        font-size: 10px;
    }
}