body{
    background-color: darkslateblue;
    font-family: Merriweather, 'Times New Roman';
    margin:0;
    padding:0;
}

h1{
    background-color: slateblue;
    color: rgb(244, 242, 253);
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

a{
    color: rgb(241, 239, 255);
    background-image: url(../images/Rank/TexturedButton.jpg);
    background-size: cover;
    background-color: slateblue;
    box-shadow: 0 3px darkslateblue;
    transform: translateY(2px);
    font-family: Merriweather, 'Times New Roman';
    position: absolute;
    top: 13px;
    left: 5px;
    padding: 5px;
    border: 1.5px solid darkslateblue;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.3s;
}

a:hover{
    color: rgb(254, 254, 255);
    background-image: url(../images/Rank/TexturedButtonHover.jpg);
    background-size: cover;
    background-color: darkslateblue;
    border: 1.5px solid lightsteelblue;
    box-shadow: 0 3px lightsteelblue;
    transform: translateY(2px);
    border-radius: 4px;
}

a:active{
    color: rgb(254, 254, 255);
    background-image: url(../images/Rank/TexturedButtonHover.jpg);
    background-size: cover;
    background-color: darkslateblue;
    box-shadow: 0 0 0;
    position: absolute;
    top: 16px;
    border: 1.5px solid lightsteelblue;
    border-radius: 4px;
    transition-duration: 0s;
}

.summon{
    position:relative;
    top: 0;
    left: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    color: rgb(74, 59, 171);
    background-image: none;
    background-color: rgb(244, 242, 253);
    box-shadow: none;
    text-decoration: underline;
    transition-duration: 0s;
}
.summon:hover{
    color: rgb(102, 205, 223);
    background-image: none;
    background-color: rgb(244, 242, 253);
    box-shadow: none;
    border: none;
}

.summon:active{
    color: rgb(102, 205, 223);
    background-image: none;
    background-color: rgb(244, 242, 253);
    box-shadow: none;
    border: none;
    position: relative;
    top: 0;
}

table{
    background-color: rgb(166, 160, 194);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 88%;
}

thead{
    background-color: rgb(196, 187, 232);
    height: 4em; 
}

tbody{
    background-color: rgb(244, 242, 253);
}

td{
    height: 1.5em;
}

.flat td{
    height: 1em;
}

.bigheader{
    text-align: center;
    background-color: rgb(151, 122, 214);
}

.flat{
    background-color: rgb(244, 242, 253);
    width: 20%;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
}

.centred{
    text-align: center;
    display: block;
}

.border{
    background-color: rgb(244, 242, 253);
    padding: 16px;
    width:80px;
    height: 102px;
    border-radius: 5px;
    position: relative;
    right: 250px;
    top:50px;
}

.large{
    font-size: 40px;
}

.herores{
    font-size: 13px;
}

.metal{
    font-size: 16px;
}

.heavymetal{
    font-size: 12px;
}

.metallarge{
    font-size: 22px;
}

img.metal{
    width: 28px !important;
}

img.heavymetal{
    width: 24px !important;
}

.charbuilder{
    width: 32px;
}

h2{
    background-color: rgb(244, 242, 253);
    text-align: center;
    width: 227px;
    height: 118px;
    font-size: 24px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 182px);
    position: relative;
    bottom: 469px;
}

#level{
    position: relative;
    left: 187px;
    bottom: 103px;
    height: 346px;
    width: 227px;
}

#weakres{
    position: relative;
    right: 120px;
    bottom: 477px;
    height: 200px;
    width: 370px;
}

img[src*="Element"]{
    width: 44px;
}

img[src*="Status"]{
    width: 44px;
}

.unofficial{
    color: rgb(244, 242, 253);
    text-align: center;
    display: block;
    position: relative;
    top: 90px;
    margin-bottom: -20px;
}

.jap{
    color: rgb(128, 166, 224);
    font-size: 12px;
}

#statfilter{
    text-align: center;
    background-color: rgb(244, 242, 253);
    width: 588px;
    height: 29px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 306px);
    margin-bottom: -560px;
    position: relative;
    bottom: 465px;
}

#statfilterblossom{
    text-align: center;
    background-color: rgb(244, 242, 253);
    width: 588px;
    height: 59px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 306px);
    margin-bottom: -560px;
    position: relative;
    bottom: 465px;
}

#statfiltermindini{
    text-align: center;
    background-color: rgb(244, 242, 253);
    width: 588px;
    height: 69px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 306px);
    margin-bottom: -560px;
    position: relative;
    bottom: 465px;
}

#statfilterwulfspade{
    text-align: center;
    font-size: 15px;
    background-color: rgb(244, 242, 253);
    width: 588px;
    height: 89px;
    padding: 8px;
    border-radius: 5px;
    margin-left: calc(50% - 306px);
    margin-bottom: -560px;
    position: relative;
    bottom: 465px;
}

.skills{
    margin-top: 120px;
    position: relative;
}

.fintable{
    margin-bottom: 15px;
}

.equaltable{
    table-layout: fixed;
    width: 85%;
}
.equaltable th td{
    width: 33.33%;
}


strong{
    font-style: oblique;
}

.grey{
    background-color: rgb(231, 227, 248);
}

.attackdesc{
    color: rgb(151, 122, 214);
}

img[src*="AttackType"]{
    width: 100px;
}

img[src*="AttackRange"]{
    width: 70px;
}
